<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">REGISTRATION FORM</h2>
                <form noValidate [formGroup]="registerForm" (ngSubmit)="onSubmit()" >  
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Id</label>
                                <input class="input--style-4" type="text" name="id" formControlName="id" required>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Name  </label>
                                <input class="input--style-4" type="text" name="name" formControlName="name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                         <div class="col-2">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" type="password" minlength="8" maxlength="15"
                                    name="password" required>
                            </div>
                        </div> 
                         <div class="col-2">
                             <div class="input-group">
                                <label class="label">Gender</label>
                                <input class="input--style-4" type="gender" name="gender" formControlName="gender" required>
                            </div>
                        </div> 
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email" formControlName="email" required>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Status</label>
                                <input class="input--style-4" type="text" name="status" formControlName="status" required>
                            </div>
                        </div>
                    </div>

                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--green"  type="submit">Submit</button>
                        <button class="btn btn--radius-2 btn--blue" routerLink="/login" type="submit">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>